<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.glpi.glpi_ministerio_pblico">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GLPIMinisterio_Público.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.misIncidencias.MisIncidenciasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tickets.TicketsAgregarDocumentosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tickets.TicketsAgregarSolucionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tickets.TicketsAgregarSeguimientoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tickets.NavFooterFabActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tickets.TicketsAgregarTareaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.slideshow.FiltroRight_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.modals.Modal_Perfiles_Activity"
            android:exported="false" />
        <activity
            android:name=".NavHeaderMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.modals.Modal_DF_Activity"
            android:exported="false" />
        <activity
            android:name=".ui.tickets.TicketsHistoricoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tickets.NavFooterTicketsActivity"
            android:exported="false"
            android:theme="@style/Theme.GLPIMinisterio_Público.NoActionBar" />
        <activity
            android:name=".ui.tickets.NavHeaderTickets"
            android:exported="false"
            android:theme="@style/Theme.GLPIMinisterio_Público.NoActionBar" />
        <activity
            android:name=".ui.tickets.TicketsActivity"
            android:exported="false"
            android:theme="@style/Theme.GLPIMinisterio_Público.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GLPIMinisterio_Público.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>